asgiref==3.8.1
Django==5.2.3
django-mathfilters==1.0.0
joblib==1.5.1
numpy==2.3.0
pandas==2.3.0
pillow==11.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.0
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2
pyotp==2.8.0
qrcode[pil]==7.4.2
