{%extends 'base.html'%} {% block content %} {%load static%}
<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full p-10">
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200"
    >
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!--Logo-->
                <div class="text-center">
                  <img
                    class="mx-auto w-48"
                    src="{% static 'assets/logo.png' %}"
                    alt="logo"
                  />
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                    We are The BookWorm
                  </h4>
                </div>

                <form method="post" id="myForm">
                  {% csrf_token %}

                  <p class="mb-4 text-l font-semibold">
                    Please Signup to get access to your account
                  </p>
                  <!--Username input-->
                  <div class="flex mb-7" data-te-input-wrapper-init>
                    {{form.first_name}} {{form.last_name}}
                  </div>

                  <div class="flex mb-7" data-te-input-wrapper-init>
                    {{form.email}}
                  </div>

                  <div
                    class="relative mb-7 border-none"
                    data-te-input-wrapper-init
                  >
                    {{form.username}}
                  </div>

                  <!--Password input-->
               <!-- Password input with toggle visibility button -->
<div class="relative flex items-center mb-7">
  <div class="relative w-full">
    {{ form.password1 }}
    <button 
      type="button" 
      onclick="togglePasswordVisibility('id_password1', 'togglePasswordIcon1')" 
      class="absolute inset-y-0 right-3 flex items-center text-gray-500 hover:text-gray-700">
      <svg id="togglePasswordIcon1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12l3.5 3.5M21 12a9 9 0 01-9 9 9 9 0 01-9-9 9 9 0 019-9 9 9 0 019 9z" />
      </svg>
    </button>
  </div>
</div>

<div class="relative flex items-center mb-7">
  <div class="relative w-full">
    {{ form.password2 }}
    <button 
      type="button" 
      onclick="togglePasswordVisibility('id_password2', 'togglePasswordIcon2')" 
      class="absolute inset-y-0 right-3 flex items-center text-gray-500 hover:text-gray-700">
      <svg id="togglePasswordIcon2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12l3.5 3.5M21 12a9 9 0 01-9 9 9 9 0 01-9-9 9 9 0 019-9 9 9 0 019 9z" />
      </svg>
    </button>
  </div>
</div>
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <button
                      class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] bg-gradient-to-b from-green-200 to-blue-500"
                      type="button"
                      onclick="setAction('register')"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                    >
                      Register
                    </button>
                  </div>

                  <!--Register button-->
                  <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 mr-2">Already have an account?</p>
                    <button
                      type="button"
                      onclick="location.href = '/login'"
                      class="inline-block rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-danger-600 focus:border-danger-600 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                    >
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- Right column container with background and description-->
            <div
              class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none bg-gradient-to-b from-green-200 to-blue-500"
            >
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="text-black text-4xl my-4">
                  Welcome to the BookTown Family
                </h4>
                <p
                  class="text-black inline-block leading-relaxed hover:text-black hover:border-black"
                >
                  You are one step closer to infinite knowledge and wisdom.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function validatePasswords() {
    var password1 = document.forms["myForm"]["password1"].value;
    var password2 = document.forms["myForm"]["password2"].value;
    var errors = [];

    if (password1 !== password2) {
        errors.push("Passwords do not match.");
    }
    if (password1.length < 8) {
        errors.push("Password must be at least 8 characters long.");
    }
    if (!/\d/.test(password1)) {
        errors.push("Password must contain at least one digit.");
    }
    if (!/[A-Z]/.test(password1)) {
        errors.push("Password must contain at least one uppercase letter.");
    }
    if (!/[a-z]/.test(password1)) {
        errors.push("Password must contain at least one lowercase letter.");
    }
    if (!/[!@#$%^&*(),.?":{}|<>]/.test(password1)) {
        errors.push("Password must contain at least one special character.");
    }

    if (errors.length > 0) {
        alert(errors.join("\n"));
        return false; // Validation failed
    }
    return true; // Validation passed
}

function togglePasswordVisibility(inputId, iconId) {
    var passwordInput = document.getElementById(inputId);
    var icon = document.getElementById(iconId);

    if (passwordInput.type === "password") {
        passwordInput.type = "text";
        icon.innerHTML = `
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12l-3.5-3.5M3 12a9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9 9 9 0 01-9-9z" />
        `;
    } else {
        passwordInput.type = "password";
        icon.innerHTML = `
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12l3.5 3.5M21 12a9 9 0 01-9 9 9 9 0 01-9-9 9 9 0 019-9 9 9 0 019 9z" />
        `;
    }
}
function setAction(type) {
    var form = document.getElementById("myForm");

    if (type === "register" && validatePasswords()) {
        form.action = "{% url 'register' %}"; // Set the action only if validation passes
        form.submit(); // Submit the form only if validation passes
    }
}
</script>

{% endblock %}
